<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <style>
        #task_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        #task_list{
            background-color: black;
            color: white;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div id="task_box">
        <form onsubmit="create_task(event)">
            <br>
            <label>Task Manager</label>
            <br>
            <br>
            <label>Enter a Task's Title</label>
            <input name="title" required>
            <br>
            <br>
            <label>Enter a Task's Description</label>
            <input name="description" required>
            <br>
            <br>
            <button type="submit">Create the Task</button>
        </form>
        <div id="task_list">
            <br>
            This is where the tasks will show
        </div>
    </div>
    <script defer>
        const create_task = async (e)=>{
            //To prevent redirection
            e.preventDefault()

            //Get the data from the event
            const formData = new FormData(e.target) 
            const title = formData.get("title")
            const description = formData.get("description")

            //Make a post request to the endpoint
            await axios.post("/create_task",
            {
                title,description

            }).then((response)=>{

                //Make the input fields empty
                clearInputFields()

                //Renders all tasks on screen
                showAllTasksOnScreen()

            }).catch((err)=>{
                //Make the input fields empty
                clearInputFields()
                console.log(err)
            })
        }

        const clearInputFields = ()=>{
            document.getElementsByName("title")[0].value = ""
            document.getElementsByName("description")[0].value = ""
            console.log("Clear input fields")
        }

        //Can be made better by only appending the task which is created rather than rendering all the tasks repeatedly
        let showAllTasksOnScreen = async ()=>{
            try {

                //Empty the previous contents of the task_list
                let task_list = document.getElementById("task_list")
                task_list.innerHTML = ""

                //Get all the tasks from the database
                let response = await axios.post("/show_all_tasks");
                let all_tasks = response.data.data;

                //Create new elements and display each task
                for(let i = 0;i<all_tasks.length;i++){

                    const new_div = document.createElement("div")
                    new_div.style.padding = "25px"

                    const new_label_title = document.createElement("label")
                    new_label_title.textContent = all_tasks[i].title

                    const new_label_description = document.createElement("label")
                    new_label_description.textContent = all_tasks[i].description

                    const isCompleted = document.createElement("input")
                    isCompleted.type = "checkbox"
                    isCompleted.id = all_tasks[i]._id
                    isCompleted.checked = all_tasks[i].isCompleted;

                    //If the check box is already checked, disable it 
                    if(all_tasks[i].isCompleted == true){
                        isCompleted.setAttribute("disabled","")
                    }
                    //Function to run when chexbox is clicked
                    isCompleted.onclick = function(){
                        let this_id = document.getElementById(all_tasks[i]._id)
                        //Function to save the changed value
                        negateValue(this_id)
                        location.reload()
                    }

                    const new_delete_button = document.createElement("button")
                    new_delete_button.textContent = "Delete this task"

                    //Function to run deleteTask on clicking the button
                    new_delete_button.onclick = function(){
                        let this_id = document.getElementById(all_tasks[i]._id)
                        deleteATask(this_id)
                    }

                    const new_edit_button = document.createElement("button")
                    new_edit_button.textContent = "Edit this task"

                    new_edit_button.onclick = function(){
                        let this_id = document.getElementById(all_tasks[i]._id)
                        editATask(this_id)
                    }

                    //Append the labels and input tag in the div 
                    //and append the div to the task_list 
                    new_div.appendChild(new_label_title)
                    new_div.appendChild(isCompleted)
                    new_div.appendChild(new_delete_button)
                    new_div.appendChild(new_edit_button)
                    new_div.appendChild(document.createElement("br"))
                    new_div.appendChild(new_label_description)
                    task_list.appendChild(new_div)

                }
            
            } catch (err) {
                console.error(err);
            }
        }

        let negateValue = async (this_id)=>{
            //Get the id check the status of checkbox and negate it
            try {
                //Update the checkbox field in database
                const didUpdate = await axios.post("update_task",
                {
                    isCompleted:this_id.checked,
                    this_id:this_id.getAttribute("id")
                })

                console.log(didUpdate.data.message) 
            } catch (error) {
                console.log(error)
            }
        }

        let deleteATask = async (this_id)=>{
            try {
                const didItDelete = await axios.post("delete_task",
                {
                    this_id:this_id.getAttribute("id")
                })
                location.reload()
                console.log(didItDelete.data.message)
            } catch (error) {
                console.log(error)
            }
        }

        let editATask = async(this_id)=>{
            let lastSibling = this_id.nextElementSibling;

            // Loop through siblings until last sibling is found
            while (lastSibling && lastSibling.nextElementSibling) {
                lastSibling = lastSibling.nextElementSibling;
            }

            //Create a new input element and copy the text of the label
            let new_input = document.createElement("input")
            new_input.value = lastSibling.textContent

            //Replace the label with input tag
            lastSibling.parentNode.replaceChild(new_input,lastSibling)

            //Disable the edit task button
            let edit_button = new_input.previousElementSibling.previousElementSibling
            edit_button.setAttribute("disabled","")

            //Create a new button for saving after editing
            const new_save_button = document.createElement("button")
            new_save_button.textContent = "Save"

            new_save_button.onclick = function(){

                //Function to save the edited task
                saveTheEditedTask(new_input)
                location.reload()
            }

            new_input.parentNode.appendChild(new_save_button);

            console.log(lastSibling)
            if(!edit_button.nextElementSibling.nextElementSibling.nextElementSibling.textContent == "Save"){
                edit_button.removeAttribute("disabled")
            }
        }

        let saveTheEditedTask = async (input_tag)=>{
            let text = input_tag.value

            //To get the check box which has the id attribute
            let check_box_id = input_tag.previousElementSibling.previousElementSibling.
            previousElementSibling.previousElementSibling

            const didEdit = await axios.post("edit_task",
            {
                this_id:check_box_id.getAttribute("id"),
                text
            })
            console.log(didEdit.data.message)
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer onload="showAllTasksOnScreen()"></script>
</body>
</html>